.grillaindex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr  ;
    height: 200px;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "footer footer footer footer "
    ;
}

/* MIXIN */

@mixin tamañoImg ($height, $width) {
    height: $height;
    width: $width;
}

@media(max-width: 480px){
    .grupo1{
        height: 600px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        .carousel{
            @include tamañoImg (250px, 250px);  
            border: 1px solid;
            border-radius: 3px;
        }
        .carousel :hover{
            transform: scale(1.05);
            transition-property: all;
            transition-duration: 0.4s;
        }
        .subtitulo2{
            margin-top: 10px;
            font-size: 25px;
            font-family: 'Montserrat', sans-serif;
        }
        .videoindex{ 
            iframe{
            width: 560px;
            height: 315px;
            border: 1px solid;
            border-radius: 3px;
        }
        }
        .videoindex :hover{
            transform: scale(1.05);
            transition-property: all;
            transition-duration: 0.4s;
        }
        .col-lg-12{
            font-family: 'Montserrat', sans-serif;
        }
    }
}

@media(min-width: 481px){
.grupo1{
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    .carousel{
        @include tamañoImg (250px, 250px);  
        border: 1px solid;
        border-radius: 3px;
    }
    .carousel :hover{
        transform: scale(1.05);
        transition-property: all;
        transition-duration: 0.4s;
    }
    .subtitulo2{
        margin-top: 10px;
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
    }
    .videoindex{ 
        iframe{
        width: 560px;
        height: 315px;
        border: 1px solid;
        border-radius: 3px;
    }
    }
    .videoindex :hover{
        transform: scale(1.05);
        transition-property: all;
        transition-duration: 0.4s;
    }
    .col-lg-12{
        font-family: 'Montserrat', sans-serif;
    }
}
}

@media(min-width: 769px){
    .grupo1{
        height: 800px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        .carousel{
            @include tamañoImg (280px, 280px);  
            border: 1px solid;
            border-radius: 3px;
        }
        .carousel :hover{
            transform: scale(1.05);
            transition-property: all;
            transition-duration: 0.4s;
        }
        .subtitulo2{
            margin-top: 10px;
            font-size: 25px;
            font-family: 'Montserrat', sans-serif;
        }
        .videoindex{ 
            iframe{
            width: 560px;
            height: 315px;
            border: 1px solid;
            border-radius: 3px;
        }
        }
        .videoindex :hover{
            transform: scale(1.05);
            transition-property: all;
            transition-duration: 0.4s;
        }
        .col-lg-12{
            font-family: 'Montserrat', sans-serif;
        }
    }
}

@media(min-width: 1026px){
    .grupo1{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        .carousel{
            @include tamañoImg (300px, 300px);  
            border: 1px solid;
            border-radius: 3px;
        }
        .carousel :hover{
            transform: scale(1.05);
            transition-property: all;
            transition-duration: 0.4s;
        }
        .subtitulo2{
            margin-top: 10px;
            font-size: 25px;
            font-family: 'Montserrat', sans-serif;
        }
        .videoindex{ 
            iframe{
            width: 560px;
            height: 315px;
            border: 1px solid;
            border-radius: 3px;
        }
        }
        .videoindex :hover{
            transform: scale(1.05);
            transition-property: all;
            transition-duration: 0.4s;
        }
        .col-lg-12{
            font-family: 'Montserrat', sans-serif;
        }

    }
}