.subtitulo1quienessomos{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.parrafoquienessomos{
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 50px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}